<div class="container">
    <div class="my-3 text-center">
        <h1 class="font-weight-light display-3">{{ restaurant.name }}</h1>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star text-warning"></i>
        <i class="fas fa-star-half-alt text-warning"></i>
        <i class="far fa-star text-warning"></i>
        <span>({{ restaurant.reviewsCount }})</span> | <button class="btn btn-sm btn-outline-dark">update restaurant</button>
    </div>
    <div class="row row-cols-3 mb-2">
        <div ng-repeat="rev in restaurant.reviews" class="card text-white bg-primary mb-3 mr-4" style="max-width: 30%">
            <div class="card-header d-flex justify-content-between">
            <span style="font-weight: 600">{{ rev.name }}</span>
                <!-- <span><StarRating rating={review.rating}/></span> -->
            </div>
            <div class="card-body">
                <p class="card-text">{{ rev.review }}</p>    
            </div>
        </div>
    </div>
    <div class="mb-2" ng-if="user">
        <form ng-submit="addreview(newreview)">
            <h2 class="border-bottom">New Review</h2>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label htmlFor="rating">Rating</label>
                    <div>
                        <span><i ng-click="newreview.rating = 1;" class="far fa-star"></i></span>
                        <span><i ng-click="newreview.rating = 2;" class="far fa-star"></i></span>
                        <span><i ng-click="newreview.rating = 3;" class="far fa-star"></i></span>
                        <span><i ng-click="newreview.rating = 4;" class="far fa-star"></i></span>
                        <span><i ng-click="newreview.rating = 5;" class="far fa-star"></i></span>
                        {{ newreview.rating }}
                        <input ng-hide="true" ng-required type="text" ng-model="newreview.rating">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label htmlFor="review">Review</label>
                <textarea required id="review" ng-model="newreview.review" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-small">Add Review</button>
        </form>
    </div>
</div>