<div class="container">
    <div class="my-3 text-center">
        <h1 class="font-weight-light display-3">Restaurant Finder</h1>
    </div>
    <div class="mb-4">
        <form ng-submit="handleSubmitBtn(newRestaurant)" name="newRestaurantForm">
            {{teste}}
            <div class="form-row mx-auto">
                <div class="col">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="name"
                        ng-model="newRestaurant.name"
                        ng-required=true
                        ng-maxlength=50
                    />
                </div>
                <div class="col">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="location"
                        ng-model="newRestaurant.location"
                        ng-required=true
                        ng-maxlength=50
                    />
                </div>
                <div class="col">
                    <select
                        class="custom-select"
                        ng-model="newRestaurant.price_range"
                        ng-pattern="/\d/"
                        ng-init="newRestaurant.price_range = 'Price Range'"
                        ng-options="option.value as option.display disable when option.disabled for option in priceOptions"
                    ></select>
                </div>
                <button ng-disabled="newRestaurantForm.$invalid" type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-dark">
            <thead>
                <tr class="bg-primary">
                    <th role="button" scope="col">Restaurant</th>
                    <th scope="col">Location</th>
                    <th scope="col">Price Range</th>
                    <th scope="col">Average (reviews)</th>
                    <th class="d-none d-md-table-cell"  scope="col">Edit</th>
                    <th class="d-none d-md-table-cell"  scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rtt in restaurants | orderBy:'id'" ng-click="detail(rtt.id)">
                    <td>{{ rtt.name }}</td>
                    <td>{{ rtt.location }}</td>
                    <td>{{ '$'.repeat(rtt.price_range) }}</td>
                    <td>
                        <stars-component rating={{rtt.avg_rating}} count={{rtt.count}}></stars-component>
                    </td>
                    <td class="d-none d-md-table-cell"><button class="btn btn-warning" ng-click="handleUpdateBtn(rtt.id); $event.stopPropagation();">Update</button></td>
                    <td class="d-none d-md-table-cell"><button class="btn btn-danger" ng-click="handleDeleteBtn(restaurants, rtt.id); $event.stopPropagation();">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
